@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0px;
    /* background-color: rgb(0, 0, 0);  */
    color: rgb(9, 1, 1);

}
.container{
    max-width: 90%;
    margin: 0 auto;
} 
img{
    width: 100%;
    height: 100%;
}
.btn-primary{
    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    font-size: 16px;

}
.heading-font{
    font-family: "Michroma", sans-serif;
    font-style: italic;
}
/* nav start */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

}
.nav-title{
    font-size: 34px;
    font-style: italic;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;    

}
.nav-items p{
    margin-left: 40px;
}
/* nav end */
/* banner start */
.banner{
    display: flex;
    gap:140px;
}
.banner-image img{
    width: 100%;
    height: 715px;
}


.banner-title{
    font-size: 75px;
    line-height: 90px;
    font-weight: 900;
    margin-top: 150px;

}

.p-font{
    color: rgba(21, 19, 19, 0.5);
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btnsss{
    background-color: transparent;
    border: 1px solid white;
}
#experience-badge{
    /* display: flex; */
    padding: 2rem 1.8rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: -100px;
    margin-top: -100px;
}

.experience-year{
    font-size: 4rem;
    font-weight: 700;
}