@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0px;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.bg-color{
    background-color: rgba(34, 34, 34, 1);
    padding: 50px 0px;

}
img{
    width: 100%;
    height: 100%;
}
.color{
    color: white;    
}
.p-font{
    color: rgba(255, 255, 255, 0.75);
    line-height: 30px;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 40px;
}
.p-font-h{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.m-font{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}
.l-font-bmi{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
}
.xl-font{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
.btn-prime{
    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    padding: 2px 12px;
    font-size: 16px;
}
.btn-primary{
    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    font-size: 16px;
}
.btn-primary1{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    padding: 10px 40px;
    font-size: 16px;
    margin-left: 10px;
}

/* nav-bar start  */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 50px;
    font-style: italic;
    color: #E6533C;
    font-weight: 900;
    margin: 0px;
}
#check{
    display: none;
}
.nav-items{
    display: flex;
    border: 1px solid rgb(96, 95, 95);
    border-radius: 15px;
    padding: 2px 0px;
    align-items: center;
}
.nav-items > p{
    margin-left: 2px;
    margin-right: 20px;
    cursor: pointer;
}
/* nav-bar start  */
/* banner start  */
.gradient{
    background: linear-gradient(to top,rgba(34, 34, 34, 1),rgba(34, 34, 34, 0.85));
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8.5rem;
    align-items: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 900;
}
.banner-images img{
    height: 600px;
}
/* btn-master */
.btn-master1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 10px;
    width: 180px;
    height: 90px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.056);
    position: absolute;
    margin-top: -190px;
    margin-left: -80px;    
}
.btn-master2{
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 10px;
    width: 180px;
    height: 90px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.056);
    position: absolute;
    margin-top: 220px;
    margin-left: -170px;  
    padding-left: 15px;  

}
#btn-title{
   font-size: 2.6rem;
   margin-top: 0px 0px;
   color: white;

}
#btn-des{
    font-size: 1rem;
    margin-top: 0px 0px;
    color: white;
}
.bg-colors{
    background-color: rgb(255, 0, 0); border-radius: 50%; 
    height: 50px; 
    width: 50px;
}
/* btn-master */
/* habit-section start  */
.habit-section{
    text-align: center;
}
.habit-card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
}
.cards{
    padding: 10px;
}
.cards img{
    border-radius: 50%;
}
/* habit-section end  */
/* run-section start  */
.run-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    background-color: rgba(141, 141, 141, 0.569);
    border-radius: 18px;
}
.run-section img{
    border-radius: 18px;
}
.run-description, .run-images{
    padding: 30px;
}

/* run-section end  */
/* calculator-section start  */
.calculator-section{
    background-color: rgba(194, 185, 185, 0.148);
}
.bmi-titles{
    text-align: left;
    margin-left: 200px;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    text-align: left;
}
th{
    color: white;
}
td{
    color: rgba(255, 255, 255, 0.75);
}
#table{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}
#input-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
#select1{
    border: none;
    border-radius: 3px;
    padding: 10px 7px;
    font-size: 16px;
    width: 100%;
}
.calculator-fields{
    background-color: rgba(141, 141, 141, 0.569);
    padding: 30px;
}
.calculator-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
}
/* calculator-section end  */

/* main end  */
/* footer-section start  */

.footer-sections{
    background-color: rgb(93, 92, 92);
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    padding-top: 3rem;
}
.services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px; 
}
.footer-hr-p{
    text-align: center;
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.75);
}
/* footer-section end  */
.team-description{
    text-align: center;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: rgb(93, 92, 92);
    border-radius: 1rem;
}
.team-images img{
    border-radius: 1rem;
}
.name{
    color: white;
    margin-top: -50px;
    margin-left: 10px;
}
/* training-section */
.training-description, .team-description{
    width: 70%;
    text-align: center;
    margin: 0 auto;

}
.exer2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.description{
    color: white;
    margin-top: -50px;
    margin-left: 10px; 
}
.nav-items a{
    text-decoration: none;
    color: white;
    margin-left: 2px;
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width:576px){
    .habit-card-section, .banner, .run-section, .calculator-field, .footer-section, .services, .team-images{
        grid-template-columns: repeat(1, 1fr);    
    } 
    .nav-items, .cameron, .dianne{
        display: none;
    }
    
    #check{
        display: block;
        color: white;
        font-size: 1.5rem;
    }
    .navbar a{
        text-decoration: none;
    }
    .banner, .run-section, .calculator-field{
        gap: 30px;
    }
    /* bmi-section */
    .bmi-titles{
        text-align: left;
        margin-left: 20px;
    }
    /* team-section  */
    
    .name{
        font-size: 1rem;
        margin-top: -100px;
        margin-left: 20px;
    }
    /* training-section  */
    .exer2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .description{
        color: white;
        margin-top: -50px;
        margin-left: 10px;
        font-size: 12px;
    }
    /* footer-section */
    .footer-section, .services{
        gap: 5px;
    }
    .footer-sections{
        padding: 0px 30px;
    }
    /* banner-btn-section  */
    .btn-master2{
        margin-top: 220px;
        margin-left: -190px;    
    }
    .btn-master1{
        margin-top: -190px;
        margin-left: 0px;    
    }
    
}
@media screen and (min-width:576px) and (max-width:992px){
    .habit-card-section{
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;    
    }
    .calculator-field, .banner, .footer-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner, .run-section, .calculator-field, .footer-section{
        gap: 30px;
    }    
    /* bmi-section */
    .bmi-titles{
        text-align: left;
        margin-left: 20px;
    }
    /* team-section  */
    .name{
        font-size: 13px;
        margin-top: -50px;
        margin-left: 10px;
    }
    /* training-section  */
    
    .description{
        color: white;
        margin-top: -50px;
        margin-left: 10px;
        font-size: 12px;
    }
    /* banner-btn-section  */
    .btn-master1{
        margin-top: -190px;
        margin-left: -20px;    
    }
    

}